
div(class = ['ajax-text-and-image', 'white-popup-block'])
	div(class="ajcol")
		div(class="fotorama", data-nav="thumbs")
			each picture in image
				img(src="/images/#{serial}-#{picture}")
	div(class="ajcol", style="line-height: 1.231;")
		div(style="padding: 1em")
			h1!=name
			p The fee paid for this trademark is $ #{fee}
			p Trademark serial number: #{serial}
			p
				a(href='/trademark/#{serial}', target="_blank") Share this trademark
			p
				a(href='http://tsdr.uspto.gov/#caseNumber=#{serial}&caseType=SERIAL_NO&searchType=statusSearch', target="_blank") View this at USPTO
	div(style="clear:both; line-height: 0;")
